body {
  background-color: #500020;
  margin: 0px
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #700020;
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
}

select {
  background-color: #330316;
  color: white;
  border: 2px solid #250005;
}

input {
  background-color: #3D0018;
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 10px;
  margin: 5px;
}

label {
  color: white;
  margin: 5px;
}

#search-view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#search-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

#insert-form {
  margin: 15px;
  width: 1000px;
  background-color: #47001B;
  border-radius: 5px;
  padding: 50px;
}

.form-label {
  width: 15%;
}

#insert-flexbox {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.base-flexrow {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.additional_info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

input.form-input-line-a {
  width: 85%;
  flex-grow: 1;
}

.song-flexbox {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.song-number-round {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 3px;
  background-color: #3D0018;
  color: white;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.title {
  flex-grow: 2;
}

.song_artist {
  flex-grow: 2;
}

.duration {
  flex-grow: 0.5;
}

.song-input {
  flex: 1 100%;
}

#button-submit {
  width: 30%;
  height: 40px;
  margin-bottom: 20px;
}

#button-close {
  width: 40px;
  height: 40px;
  object-fit: fill;
}

.button-container {
  display: flex;
  justify-content: space-between;
}